.app__laurels_awards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}
.app__laurels_awards-card {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 200px;
  margin: 1rem;
  
}
.app__laurels_awards-card img {
  width: 50px;
  aspect-ratio: 1;
  margin-right: 1rem;
}
.app__laurels_awards-card p:nth-child(2) {
  font-size: 20px;
}